*.npy
*.csv
*.pdf
*.png
.idea
*.pyc
pytest_env
*.h5
*.gzip
*.pptx
*.tif
*.zip
*.obj
*.txt
*.json
*.vtu
*.vtp
*.npz
*.mat
*.PE0
*.data
*.DAT
*.gif
*.NPY
*.set
*.cfg
*.log
*.pairs_piv
*.xml
*.attr
*.ims
*.scales
*.bin
*.im7

Propellers/TMOTOR_DataLink_210914
Data/Prop_Setups
Scripts/venv
OpenFOAM
